@tailwind base;
@tailwind components;
@tailwind utilities;

/* Keyframes for infinite scrolling */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Custom Tailwind classes */
.animate-scroll {
  animation: scroll 20s linear infinite;
}

.hover\:pause-animation:hover {
  animation-play-state: paused;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Arial', sans-serif; 
}